
@use "./variables" as *;
@use "./placeholders" as *;


@mixin btn ($backgroundColour, $colour) {
    font-family: montserrat;
    background-color: $backgroundColour;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    border: none;
    color: $colour;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 150ms;

    &:active {
    transform: scale(0.97);
    }
}