
/*COLOURS*/
$bg-primary: darken(#c9cbd1,5%);
$bg-secondary: #00AA58;
$bg-ternary: lighten($bg-secondary, 12%);

$text-primary: black;

/*BREAKPOINTS*/

$breakpoint-desktop: 800px;

/**/

$mob-header-height: 10vh;