
@use "../abstract/index" as *;

.create-society {
    display: grid;
    place-items: center;

    > form {

        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        align-items: center;

        text-align: center;
        
        .text-field {@extend %input-field}

        > .new-soc-logo {
            position: relative;
            width: 85%;
            aspect-ratio: 1;
            background-color: #232323;
            color: white;
            border-radius: 20px;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
            display: grid;
            place-items: center;
            margin: 1rem;
            z-index: 1;

            > p {
                position: absolute;
                z-index: 2;
            }


            > img {
                position: absolute;
                z-index: 3;
                border-radius: 20px;
                
                object-fit: cover;
                max-width: 100%;
            }
        }
    }
}