
@use "../abstract/index" as *;

.create-event {
    @extend %page;
    display: flex;
    flex-direction: column;
    

    > h1 {
        font-family: "Bebas Neue";
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        background-color: $bg-secondary;
        height: fit-content;
        width: fit-content;
        margin-left: 1rem;
        padding: 1.2rem .5rem;
        border-radius: 0 0 20px 20px;
        box-shadow: 4px 4px 4px rgba(0,0,0,.4);
        color: white;
        animation: slideIn forwards 1s;
        margin-bottom: 2rem;
    }

    > div {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        margin: 1rem;
        width: fit-content;

        p {
            font-style: italic;
            color: $bg-secondary;
            font-size: 1.4rem;
            
        }

        select {
            margin-left: 1rem;
        }

        > div:first-of-type {
            background-color: lighten(black, 15%);
            display: flex;
            padding: 1rem;
            border-radius: 25px;
        }
    }

    .open-calendar {
        color: black;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .react-calendar {
        position: absolute;
        z-index: -1;
        width: 90%;
        transition: 150ms;
        transform: scale(.9);
    }

    .calendar-open {
        z-index: 50;
        transform: none;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    } to {
        transform: none;
    }
}