
@use "../../scss/abstract/index" as *;

.home {
    height: 100vh;
    background-color: $bg-primary;
    background-image: radial-gradient(hsla(0, 0%, 100%, 0.04), transparent);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    display: grid;
    flex-direction: column;

    > img {
        object-fit: cover;
        width: 85%;
        height: auto;   
        place-self: center;
        border-radius: .75rem;
        background-color: transparent;
        box-shadow: 4px 4px 4px rgba(0,0,0,1);
    }

    button {
        cursor: pointer;
        padding: 0;
    }

    p {
        text-align: center;
        font-style: italic;

        &:first-of-type {
            color: darken(white, 30%)
        }

        &:nth-of-type(2):hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

}

.stay-logged-in {
    @extend %flex-center;
    flex-direction: row;

    > .tickbox {
        background-color: gray;
        padding: .25rem;
        border-radius: .5rem;
        box-shadow: inset $box-shadow-out;
        margin-right: .5rem;
        cursor: pointer;

        > i {
            color: green;
            opacity: 0;
            transition: 150ms;
            transform: scale(.5);
        }
    }

    > .tickbox-checked > i {
        opacity: 1;
        transform: scale(1);
    }
}