
@use "../../scss/abstract/index" as *;

.home {
    @extend %page;
    background-image: radial-gradient(hsla(0, 0%, 100%, 0.04), transparent);
    color: white;
    font-family: montserrat;
    position: relative;
    display: grid;
    flex-direction: column;

    > img {
        object-fit: cover;
        width: 65%;
        opacity: 0;
        height: auto;   
        place-self: center;
        border-radius: .75rem;
        background-color: transparent;
        box-shadow: 4px 4px 4px rgba(0,0,0,1);
        margin-top: 65px;
        animation: logoEnter forwards 2s;
    }

    > div {
        opacity: 0;
        animation: enterBottom forwards 1s 1s;

        > div {
            margin-top: 1rem;
        }
    }

    button {
        border: none;
        cursor: pointer;
        padding: 0;
    }

    p {
        text-align: center;
        font-style: italic;
        color: #767676;
        font-family: montserrat;

        &:first-of-type {
            color: darken($bg-secondary,20%);
        }

        &:nth-of-type(2):hover {
            
            text-decoration: underline;
            cursor: pointer;
        }
    }

}

.stay-logged-in {
    @extend %flex-center;
    flex-direction: row;
    color: darken($bg-secondary,20%);
    font-family: montserrat;

    > .tickbox {
        background-color: #767676;
        padding: .25rem;
        border-radius: .5rem;
        box-shadow: inset $box-shadow-out;
        margin-right: .5rem;
        cursor: pointer;

        > i {
            color: $bg-secondary;
            opacity: 0;
            transition: 150ms;
            transform: scale(.5);
        }
    }

    > .tickbox-checked > i {
        
        opacity: 1;
        transform: scale(1);
    }
}

/*ANIMATIONS*/

@keyframes logoEnter {
    0% {
        transform: scale(1.5);
        opacity: 0;
    } 50% {
        transform: scale(.85);
        opacity: 1;
    } 100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes enterBottom {
    from {
        opacity: 0;
        transform: translateY(-100px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}