@use "../abstract/index" as *;

.login {
    @extend %page;
    display: grid;
    grid-template-rows: 2fr 1fr;

    > img {
        object-fit: cover;
        width: 75%;
        place-self: center;
        border-radius: 20px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
    }

    > div {
        justify-self: center;

        .login-info {
            display: none;
        }

        > button {
            @include btn($bg-secondary, black);
            align-self: top;
            width: 180px;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        p {
            color: lighten($text-primary, 40%);
        }
  }


}

/*DESKTOP*/

@media (min-width: $breakpoint-desktop) {
  .login {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    place-items: center;

    > img {
      place-self: center;
      width: 50%;
    }

    > div {
        display: grid;
        grid-template-rows: 1fr 1fr;
        place-items: center;
        text-align: center;

        .login-info {
            display: block;

            > h1 {
                font-size: 3rem;
            }

            > p {
                font-size: 1.2rem;
                font-style: italic;
            }
        }



        > button {
            margin-top: 4.5rem;
        }
    }
  }
}
