@use "../abstract/index" as *;

.userInfo {
    @extend %page;
    display: flex;
    justify-content: center;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 3fr;
    padding-top: 1.6rem;

     > p {
        font-family: "Oxygen";
        font-style: italic;
        color: darken(white, 30%);
        margin-bottom: 1rem;
    }

    > h1 {
        font-family: 'Bebas Neue', cursive;
        color: black;
        text-align: center;
        margin: 1.3rem;
        font-size: 2rem;
        padding: .4rem;
        border: none;
        border-radius: .4rem;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        opacity: 0;
        animation: fade forwards 1s 1s;
    }
     
    > div:first-of-type {
        place-self: center;
        display: grid;
        place-items: center;
        opacity: 0;
        animation: logoEnter 1s forwards;

        > img {
            border-radius: 10rem;
            width: 10rem;
            height: 10rem;   
            background-color: transparent;
            
        }
    }

    > box {
        place-self: center;
        text-decoration: none;
        color: $bg-secondary;
        text-align: center;
        margin: 1rem;
        font-size: 1.8rem;
        padding: .4rem;
        border: none;
        border-radius: 20px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: 150ms;
    }

    


}