@use "../abstract/index" as *;

.userInfo {
    max-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
    padding-top: 1.6rem;

     > p {
        font-family: "Oxygen";
        font-style: italic;
        color: darken(white, 30%);
        margin-bottom: 1rem;
    }

    >div:first-of-type {
        place-self: center;
    }

    h1 {
        font-family: 'Bebas Neue', cursive;
        color: black;
        text-align: center;
        margin: 1.3rem;
        font-size: 2rem;
        padding: .4rem;
        border: none;
        border-radius: .4rem;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        opacity: 0;
        animation: fade forwards 1s 1s;
    }
     
    h2 {
        text-align: center;
        font-style: italic;
        color: lighten(black, 20%);
    }

    > div > img {
        place-self: center;
        border-radius: 10rem;
        width: 10rem;
        height: 10rem;   
        background-color: transparent;
        animation: logoEnter 1s forwards;
        opacity: 0;
        border: solid $bg-secondary 3px;
        box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
    }
    

    .societyList {
        margin: .2rem;        
        display:flex;
        flex-direction: column;

        h2 {
            font-family: montserrat;
            opacity: 0;
            animation: fade forwards 1s 1.4s
        }

        .soc-cards {
            display: grid;
            grid-template-columns: 1fr 1fr
        }
    }


}