
@use "../abstract/index" as *;

.society {
    @extend %page;
    display: flex;
    padding-top: 4rem;
    flex-direction: column;
    align-items: center;

    >div:first-of-type {
        @extend %logoImg;
    }

    h1 {
        margin: .75rem;
        opacity: 0;
        animation: fade forwards 1s 1s;
    }

    h2 {
        margin-top: 3rem;
    }

    .socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        i {
            opacity: 0;
            animation: socialIcons forwards 1s 1s;
            margin: 0 .5rem;
            font-size: 2rem;
        }
    }
}

@keyframes socialIcons {
    from {
        opacity: 0;
        margin: 0;
    } to {
        opacity: 1;
        margin: 0 .5rem;
    }
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #26a7de;
}

.fa-laptop {
    color: darken($bg-secondary,25%);
}