
@use "../abstract/index" as *;

.navbar > i{
    color: antiquewhite;
    background-color: $bg-secondary;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.8);
    font-size: 2rem;
    border-radius: 50%;

    position: fixed;
    right: .75rem;
    top: .75rem;
    z-index: 100;
    padding: 1rem;
    
    transition: 250ms;
    cursor: pointer;

    &:active {
        transform: scale(.9);
    }
}

.navbar-main {
    display: grid;
    place-items: center;
    background-color: $bg-secondary;
    padding: .5rem;
    z-index: 100;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);

    position: fixed;
    right: .75rem;
    top: 50%;
    transform: translate(150%, -50%);

    border-radius: 1rem;

    transition: 200ms;

    > a {
        color: antiquewhite;
        font-size: 2rem;

    }
}

.navbar-open {
    transform: translate(0, -50%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4), 0 0 200px #fff;

}

@media (min-width: $breakpoint-desktop) {
    .navbar > i {
        font-size: 4rem;
        padding: 1.5rem
    }

    .navbar-main > a {
        font-size: 4rem;
    }
}