
@use "../abstract/index" as *;

.soc-card {
    padding: .5rem;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
    display: grid;
    place-items: center;
    width: fit-content;
    background-color: $bg-secondary;

    > img {
        width: 7rem;
        height: auto;
        border-radius: 20px;
        cursor: pointer;
    }
}